/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/bootstrap/cache/*.php
/vendor
/composer.phar
.env
.env.backup
.env.local
.env.*.local
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
.DS_Store
Thumbs.db
*.sqlite
*.sqlite-shm
*.sqlite-wal
.idea
.vscode
*.log
composer.lock
package-lock.json
yarn.lock
.php-cs-fixer.cache
.phpstan.neon
build/
coverage/
.php-version
nbproject/
.vagrant/
.env.dusk.local
